@font-face {
    font-family: amita ;
    src: url("polices/amita-regular.ttf");
}

@font-face {
    font-family: amita_bold ;
    src: url("polices/amita-bold.ttf");
}

h1,h3
{
    font-family: "amita_bold";
    font-size: 1.3em;
}
ul
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: white;
}
a:hover
{
    text-decoration: underline;
}
nav
{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #78796c;
}
nav ul
{
    display: flex;
}

nav ul li
{
    margin-right: 20px;
}

#affiche
{
    display: flex;
    flex-direction: column;
    background-color: #F48F57;
    align-items: center;
}

#affiche img
{
    margin-top: 50px;
    margin-bottom: 50px;
}

section
{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color:#D7D8CA;
}

section img
{
    width: 60%;
    max-height: 375px;
    margin: 30px;
    border: 5px #78796c solid;
    height: auto;
}

p
{
    font-family: "amita";
    margin: 30px;
}

#sect2
{
    background-color: #D6845C;
}

#sect3
{
    display: flex;
    align-items: center;
    height: 600px;
    justify-content: center;
    text-align: center;
    background-image: url("images/tea-time-g2d548bdaf_1920.jpg");
    background-color: rgba(215, 216, 202, 0.5);
}
#sect3 h3
{
    color:blanchedalmond;
    text-shadow: rgb(8, 8, 8);
}

#difoot
{
    padding-top: 50px ;
    display: flex;
    background-color: #F2DED5;
    justify-content: space-around;
}

#difoot h4 
{
    font-family: "amita";
    font-size: 1.1em;
}

#difoot ul
{
    padding: 0;
}

#difoot ul li a
{
    color: black;
}

#difoot ul li
{
    margin: 7px;
    padding: 0;
}

a
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#difoot ul li a:hover
{
    color: #78796c;
}


#copy
{
    text-align: center;
    padding:1px;
    background-color: #78796c;
}

h6
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
}

#difoot h4{
    text-decoration: underline;
}
